<div class="book_wrapper">
	<% @books.each do |book| %>
  
    <h2 class="title"><%= link_to book.title, book %></h2>
  <h3><%=h book.subtitle %></h3>
	  <p><%= book.name %> <%= book.surname %></p>
	  <p>ISBN <%= book.isbn %></p>
	  <p><%= book.category %></p>
	  <p><%= book.color %></p>
	  <p><%= book.tags %></p>
	  <p><%= book.lease %></p>
	  <p><%= book.cover %></p>
   <% end %>
 </div>

<%= will_paginate @book %>
   