
<div id="page_wrapper">
   
    <h1>New book</h1>

    <%= form_for :book, url: books_path do |f| %>
      
      <p>
    	  <%= f.label 'title' %><br>
    	  <%= f.text_field :title %>
      </p>
      <p>
    	  <%= f.label 'subtitle' %><br>
    	  <%= f.text_field :subtitle %>
      </p>
      <p>
    	  <%= f.label 'name' %><br>
    	  <%= f.text_field :name %>
      </p>
      <p>
    	  <%= f.label 'surname' %><br>
    	  <%= f.text_field :surname %>
      </p>
      <p>
          <%= f.submit %>
       </p>


    	<% end %>
  </div>