
<div id="page_wrapper">
   
    <h1>New book</h1>

    <%= form_for :book, url: books_path do |f| %>
      
      <!-- powiadomienie flash -->
      <% if @book.errors.any? %>
        <div id="errors">
          <h2><%= pluralize(@book.errors.count, "error") %> prevented this book from saving</h2>
            <ul>
              <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
      <% end %>

      <p>
    	  <%= f.label 'title' %><br>
    	  <%= f.text_field :title %>
      </p>
      <p>
    	  <%= f.label 'subtitle' %><br>
    	  <%= f.text_field :subtitle %>
      </p>
      <p>
    	  <%= f.label 'name' %><br>
    	  <%= f.text_field :name %>
      </p>
      <p>
    	  <%= f.label 'surname' %><br>
    	  <%= f.text_field :surname %>
      </p>
      <p>
          <%= f.submit %>
       </p>


    	<% end %>
  </div>