<div id="book_content">

	<h1 class="title">
		<%= @book.title %>
	</h1>

	  <h2><%= @book.subtitle %></h2>
		  <p><%= @book.name %> <%= @book.surname %></p>
		  <p>ISBN <%= @book.isbn %></p>
		  <p><%= @book.category %></p>
		  <p><%= @book.color %></p>
		  <p><%= @book.tags %></p>
		  <p><%= @book.lease %></p>
		  <p><%= @book.cover %></p>

</div>